/**
 * SetDataException
 *
 * Created ${date}
 *
 * @author tracktopell :: DAO Builder
 * http://www.tracktopell.com.mx
 */

package ${dao.package};

public class SetDataException extends      DataAccessException
                               implements  java.io.Serializable {
    public SetDataException(String description){
        super(description);
    }
}